../idea/
../code_0.iml
ayame.iml
*.log*
*.sy
tests/
.idea/
.vscode/
out/
util/.antlr/
out.s
out.ll
code_0.iml
src/pass/PassManager.java
../src/pass/PassManager.java
test.s
*.out
*.in
*.ll
test.sh
!testcases/*
*.class
__pycache__
.DS_Store
build/
